[submodule "ground_truth_drawing"]
	path = ground_truth_drawing
	url = ./ground_truth_drawing
[submodule "image_analysis"]
	path = image_analysis
	url = ./image_analysis
[submodule "learning"]
	path = learning
	url = ./learning
[submodule "methods"]
	path = methods
	url = ./methods
[submodule "test_harness"]
	path = test_harness
	url = ./test_harness
